<section
	class="w-full flex flex-col bg-blue-500 dark:bg-slate-800 text-center pt-14">
	<div class="max-container lg:w-3/4">
		<h1
			class="text-4xl md:text-5xl text-slate-50 dark:text-slate-300 leading-relaxed">Hackintosh
			Toolkit</h1>
		<h2
			class="text-xl md:text-2xl text-slate-200 dark:text-slate-300 leading-tight font-extralight tracking-wide text-base mt-6 mb-20">
			Hackintosh.tools links to everything you need to build a Hackintosh
			and get macOS Sonoma (macOS 14) as well as many earlier versions of
			Mac OS X running on an unsupported computer -- instructions,
			step-by-step "how to" guides, and tutorials -- in addition to
			installation videos, lists of compatible computers and parts, and
			communities for support.</h2>
	</div>
</section>
